* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html,
body,
.wrap {
  width: 100%;
  height: 100%;
}

.wrap {
  display: flex;
  flex-direction: column;
  font-size: .32rem;
}

header {
  width: 100%;
  height: .8rem;
  background: #fff;
  display: flex;
  border-bottom: 1px solid #eee;
  padding: .2rem;
  align-items: center;
}

header i.icon {
  color: #b4b4b4;
}

header .input {
  flex: 1;
  margin-right: .2rem;
  background: #f9f9f9;
  position: relative;
}

header .input input {
  height: .6rem;
  width: 100%;
  border: 0;
  border-radius: .12rem;
  border: 1px solid #eee;
  outline: none;
  padding-left: .5rem;
}

header .input i.icon {
  position: absolute;
  left: .1rem;
  top: .08rem;
}

section {
  flex: 1;
  overflow-y: auto;
}

section .banner {
  width: 100%;
  height: auto;
}

section .banner img {
  width: 100%;
  height: 2rem;
  display: block;
}

section .Piclist {
  width: 100%;
  height: 1.6rem;
  display: flex;
  border-bottom: 1px solid #eee;
}

section .Piclist a {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section .Piclist a img {
  width: .6rem;
  height: .6rem;
}

section .Piclist a span {
  color: #333;
  font-size: .28rem;
  line-height: 1.5;
}

section .tub {
  width: 100%;
  height: 1.74rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .2rem;
  border-bottom: 10px solid #fafafa;
}

section .tub dl {
  display: flex;
}

section .tub dl dt {
  width: 1.44rem;
  height: .92rem;
}

section .tub dl dt img {
  width: 100%;
  height: 100%;
}

section .tub dl dd {
  margin-top: .12rem;
  margin-left: .12rem;
}

section .tub dl dd p.title {
  color: #333;
}

section .tub dl dd p.cmt {
  color: #666;
  font-size: .28rem;
  line-height: 1.5;
}

section .tub p span {
  color: #666;
  font-size: .28rem;
}

section .tub p i.icon {
  vertical-align: middle;
}

section .pic {
  width: 100%;
  height: 2rem;
  background: url("../imgs/bg2.png");
  background-size: cover;
}

section .shopping h1 {
  color: #333;
  height: .78rem;
  line-height: .78rem;
  padding-left: .2rem;
  font-size: .34rem;
}

section .shopping .lists {
  display: flex;
  background: #f6f6f6;
  overflow: hidden;
}

section .shopping .lists dl {
  width: 30%;
  margin: .08rem;
  flex-shrink: 0;
}

section .shopping .lists dl:nth-of-type(1) {
  background: #E8F3F8;
}

section .shopping .lists dl:nth-of-type(2) {
  background: #FFF9EA;
}

section .shopping .lists dl:nth-of-type(3) {
  background: #F9FAFE;
}

section .shopping .lists dl:nth-of-type(4) {
  background: #FBF2EE;
}

section .shopping .lists dl dd {
  font-size: .3rem;
  color: #646D70;
}

section .shopping .lists dl dt {
  width: 1.94rem;
  height: 2.13rem;
}

section .shopping .lists dl dt img {
  width: 100%;
  height: 100%;
  display: block;
}

footer {
  width: 100%;
  height: .8rem;
  display: flex;
  border: 1px solid #eee;
}

footer a {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer a span {
  color: #333;
  font-size: .26rem;
}

footer a i.icon {
  color: #666;
}
/*# sourceMappingURL=style.css.map */